<!-- 
<div class="widget latest-posts">
    <header>
      <h3 class="h6">Latest Posts</h3>
    </header>
    <div class="blog-posts">
        <a href="#" *ngFor="let item of posts"  [routerLink]="['/post', post.id]">
        <div class="item d-flex align-items-center">
          <div class="image"><img [src]="item.featuredImage" alt="..." class="img-fluid"></div>
          <div class="title" [innerHTML]="item.title"><strong></strong>
            <div class="d-flex align-items-center">
              <div class="views"><i class="icon-eye">{{item.views}}</i> </div>
              
              <div class="comments"><i class="icon-comment"></i>{{item.comments.length}}</div>
            </div>
          </div>
        </div>      
    </a>
      
      </div>
  </div> -->


  <div class="latest-posts">
    <div class="post">
    <a href="#" *ngFor="let item of posts"  [routerLink]="['/post', item.id]">
    <div class="post d-flex align-items-center">
    <div class="image"><img [src]="item.featuredImage" alt="..." class="img-fluid"></div>
    <div class="title"><strong>{{item.title}}</strong><span class="date last-meta">{{item.postDate | date:'mediumDate'}}</span></div>
    </div>
    </a>
    </div>
   </div>
