<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form (click)='formSubmit()'>
                <div class="form-group">
                    <label>Title</label>
                    <input [(ngModel)]="blogPost.title" type="text" class="form-control"  [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label>Featured Image (URL)</label>
                    <input type="text" class="form-control" [(ngModel)]="blogPost.featuredImage" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label>Post</label>
                    <textarea class="form-control" style="min-height:200px" [(ngModel)]="blogPost.post"[ngModelOptions]="{standalone: true}" ></textarea>
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <input type="text" class="form-control" [(ngModel)]="blogPost.category" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <textarea class="form-control" [(ngModel)]="tags" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
                <div class="pull-right"> &nbsp; <button type="submit" class="btn btn-success btn-sm" >Add Post</button></div>
            </form>
        </div>
    </div>
</div>
<br />